@charset "utf-8";
/* CSS Document */


.delete-info{
	text-align: center;
	margin-top: 15rem;

	color: white;
	font-family: "Bebas Neue";
}


.user-header{
	text-align: center;
	padding: 20px;
	margin-top: 10rem;
	font-family: "Bebas Neue";
	color: white;

}





.user-button{
		font-family: "Bebas Neue";
	text-align: center;
}


.user-font{
			font-size: 90px;
}

.user-info{
	text-align: center;
	color: green;
	background-color: white;
	border-radius: 5%;
	padding: 30px;
	display: block;
	 margin-left: auto;
	 margin-right: auto;
	font-size: 22px;
		font-family: "Bebas Neue";

}

.user-form input{
	outline: 1px solid;
}




.green{
	background-color: #33995f;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Bebas Neue";
	height: 100vh;
}

.white{
	background-image: url("../images/index-pic.gif");
	  background-repeat: no-repeat;
		  background-size: cover;
			background-position: center;
	height: 100vh;

}

.green h1{
		font-size: 70px;
		color: white;
}

.white h1{
		color: #33995f;
		font-size: 50px;
}
.top-nav{
	text-align: center;
	background-color: seagreen;
	padding: 5px;


}

.title, .title1{
    text-align: center;
    z-index: 1;
    font-family: "Bebas Neue";
    animation: colorChange  infinite;
    animation-duration: 4s;
    opacity: 1;
    color: white;
    text-shadow: 4px 4px black;
    padding: 50px;
    font-size: 100px;
    font-weight: 600;


}

.imageContent{
    height: 400px;
    width: 390px;
    transition: width 4s, height 4s;
    opacity: 1;
    border-radius: 20px;
}

.content-1{
	background-color: #33995f;
}

.content-3{
	background-color: #33995f;
}

.content-1, .content-2, .content-3{
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
 min-height: 100vh;

}

.contentP, .contentP2, .contentP3{

    color: white;
		font-size: 20px;
    text-align: center;
    display: inline-block;
        position: absolute;
     font-family: "Bebas Neue";
    border: 5px solid black;
    background-color: black;
     opacity: 0.8;
    margin: auto 42%;
    transition: width 4s, height 4s,opacity 1s;
    border-radius: 20px;
    width: 400px;
    height: 500px;


}


.contentP2{
	font-size: 50px;
	transition: 2s;
}


.contentP, .contentP3{
	font-size: 20px;
	transition: 3s;
}

.contentP:hover{
    width: 410px;
	height: 600px;
     opacity: 1;
		 font-size: 25px;


}

.contentP2:hover{
    width: 410px;
	height: 600px;
	font-size: 80px;
     opacity: 1;


}

.contentP3:hover{
    width: 410px;
	height: 600px;
    opacity: 1;
		font-size: 25px;

}



.restart{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;

}

.bt{
	color: black;
	 font-family: "Bebas Neue";
}

.imageContent:hover{
	height: 450px;

}
@keyframes colorChange{
    20% {color: white;}
    40% {color: blue;}
    60% {color: darkmagenta;}
    80% {color: darkgoldenrod}
    100% {color: white;}




}

.btnmain{
	width: 100%;
	font-family: "Bebas Neue";
	border: solid 1px green;
	color: white;
	font-size: 20px;
	transition: width 2s height 4s background-color: 2s color: 4s;

  }


	a:link {
	  text-decoration: none;
		color: white;
	}



.btn:hover{
	background-color: green;
	color: black;
}

.btn-delete:hover{
	background-color: black;
	color: red;
}


footer{
	background-color: black;
	color:white;
	height: 5%;
	width: 100%;
	bottom: 0;
	position: fixed;
}








.pfooter{
	position: absolute;
	bottom: -15px;
	right: 10px;
}



@media only screen and (max-width: 800px) {
  .top-nav, .pfooter {
    flex-direction: column;
	position: relative;
	text-align: center;
	}
}








@media only screen and (max-width: 767px){
  .home-footer{
		display: none
	}
}



@media only screen and (max-width: 425px){
  .contentP, .contentP2, .contentP3{
		width: 90%;
	}

	.imageContent{
		width: 100%;
	}
}





/* About CSS */
.aboutMe{
    background-color: #33995f;
    color: white;
	font-family: "Bebas Neue";
  padding: 250px 20px;




}

.followUs{
    background-color: white;
    color: black;
	font-family: "Bebas Neue";
  padding: 250px 20px;




}

.what-section{
  padding: 250px 100px;
  	font-family: "Bebas Neue";
  background-color: #40bf77;
  color: white;
}

.follow-paragraph{
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
}

.what-paragraph{
  padding-top: 90px;
  text-align: center;
  font-size: 30px;
}


.thanks-paragraph{
  font-size: 20px;
  text-align: center;
}



.thanks-section{
    padding: 250px 100px;
    background-color: white;
    color: black;
	font-family: "Bebas Neue";



}



.about-me{
    font-size: 30px;
    padding-top: 170px;
    text-align: center;



}

.title-about{
  text-align: center;
  padding-bottom: 100px;

}

.title-what{
  text-align: center;
  padding-top: 50px;
}
.profile-picture{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 35%;
   border-radius: 50%;

}

.follow-picture{
  padding-right: 10rem;
  transform: rotate(10deg);
}


.what-picture{
  padding-left: 20px;
  width: 70%;
}

.thanks-picture{
  padding: 50px 20px;
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}

@media only screen and (max-width: 1320px){
  .follow-picture{
    display: none;
  }

  .what-picture{
    display: none;
  }

  .follow-paragraph{
    text-align: center;
  }


}


@media only screen and (max-width: 991px){


  .what-picture{
    display: block;
     margin-left: auto;
     margin-right: auto;
  }
}



@media only screen and (max-width: 770px){
  .profile-picture{
    width: 70%;
  }

  .thanks-picture{
    width: 100%;
  }


  .what-picture{
    display: none;
  }

  .what-paragraph{
    font-size: 20px;
  }
}



/* Calories CSS */

.display-none{
	display: none;
}



.chart-container{
	padding: 30px;
}


.chart-container-title{
	padding: 30px;
	text-align: center;
	display: block;
	margin-top: 20rem;
	 margin-left: auto;
	 margin-right: auto;
	 width: 65%
}




input{
	padding: 5px;
	margin-top: 15px;
}

form button{
	font-family: "Bebas Neue";
	margin-top: 15px;
}

.intake-form{
	background-color: white;
	padding: 100px 30px;
	text-align: center;
	border-radius: 5%;
	display: block;
	margin-top: 10rem;
   margin-left: auto;
   margin-right: auto;
   width: 65%
}


.form-div{
	padding: 30px;
}


#h1{
	color: white;
	font-family: "Bebas Neue";
}


.btn-restart:hover{
	background-color: grey;

}

@media only screen and (max-width: 1440px){
	.chart-container{
		width: 100%;
		margin: 0;
		padding: 30px;

	}

	.intake-form{
		width: 100%;
	}
}


@media only screen and (max-width: 520px){
	.chart-container{
		width: 100%;

	}

	.intake-form{
		padding: 15px;
	}
}

/* Challenges CSS */
btn1{
    padding: 7px;
    font-family: "Bebas Neue";
    font-size: 25px;
}

.challenge-title{
    font-size: 30px;
		padding: 20px;
		text-align: center;
				background-color: white;
    font-family: "Bebas Neue";
    color: black;
}

.challenge-title-big{
    font-size: 50px;
		padding: 40px;
		text-align: center;
		background-color: white;
    font-family: "Bebas Neue";
    color: black;
}

.challenge-main-title{
    font-size: 30px;
		padding: 20px;
		text-align: center;
				background-color: #33995f;
    font-family: "Bebas Neue";
    color: white;
}

.challenges{
	padding: 40px;
	background-color: white;
	outline: 2px outset green;

}

.challenge-difficulty{
	font-size: 20px;
	  font-family: "Bebas Neue";
	  color: black;
}

.challenge-difficulty-big{
	font-size: 40px;
	padding: 20px;
	  font-family: "Bebas Neue";
	  color: black;
}

.challenge-description{
	font-size: 15px;
	color: black;
}

.challenge-description-big{
	font-size: 25px;
	padding: 20px;
	color: black;
}

.challenge-section{
	padding: 50px;
		background-color: #33995f;
		text-align: center;
}

.outline{
	outline: 5px outset green;
}


.display-none{
	display: none;
}


.no-challenges-img{
	 margin-left: auto;
	 margin-right: auto;
	width: 50%;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.image{
 display: flex;
}

video {
  /* override other styles to make responsive */
  width: 100%    !important;
	  height: auto   !important;
}


.easy{
	color: green;
}

.medium{
	color: orange;
}

.hard{
	color: red;
}

.very-hard{
	color: #990000;
}



@media only screen and (max-width: 1175px){
	.challenge-title-big{
		  font-size: 30px;
				padding: 0;
	}
}


@media only screen and (max-width: 991px){
	.image{
		  display: none;
	}
}

@media only screen and (max-width: 1175px){
	.challenge-title-big{
		  font-size: 30px;
				padding: 0;
	}
	.challenge-description-big{
		font-size: 15px;
			padding: 0;
	}
	.challenge-difficulty-big{
		font-size: 20px;
			padding: 0;
	}

}


/* Exercise CSS */

.add{
border: 1px solid black;
background-color: white;
display: block;
font-family: "Bebas Neue";
margin-left: auto;
margin-right: auto;



}

.add:hover{
background-color: white;
}

.note-button{
	padding: 20px;
}



.note-form{
	position: fixed; /* Sit on top of the page content */
 display: none; /* Hidden by default */
 width: 100%; /* Full width (cover the whole page) */
 height: 100%; /* Full height (cover the whole page) */
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0,0,0,0.7); /* Black background with opacity */
 z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	text-align: center;
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;

}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeOut{
	opacity: 1;
	animation-name: fadeOut;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.inputs{
	position: absolute;
	background-color: white;
  top: 40%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%,-50%);
	border-radius: 15px;
  -ms-transform: translate(-50%,-50%);
}

input{
	border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

input:focus{
	 outline: none;
}

.btn-overlay{
	  font-size: 20px;
	background-color: white;
	font-family: "Bebas Neue";
	padding: 10px;
}


::placeholder{
	font-size: 20px;
}

.show-note{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 100%;
	height: 1000px;

}

.draggable{
	width: 20%;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


.show-note2 h1{
	background-color: white;
}


.show-note2 p{
	background-color: #e6e6e6;
		padding: 5px;
	font-size: 18px;

}


.delete-button{

	cursor: pointer;
	font-family: "Bebas Neue";
	color: green;

}


.delete-button:hover {
	color: green;
	text-decoration: none;
}

.show-note2{
	background-color: white;


}





@media only screen and (max-width: 800px){
	.inputs{
		top: 50%;
	}

}


@media only screen and (max-width: 500px){
	.inputs{
		font-size: 25px;
	}

	::placeholder{
		font-size: 20px;
	}

}


@media only screen and (max-width: 1440px){
	.draggable{
		width: 50%;

	}
}

@media only screen and (max-width: 620px){
	.draggable{
		width: 90%;

	}
}

@media only screen and (max-width: 375px){
	.draggable{
		width: 100%;

	}
}


/* HELP CSS */

#accordion{
	cursor: pointer;
}

.faq{
    font-size: 25px;
    text-align: center;
    padding: 50px;
    line-height: 2rem;
    color: white;
    background-color: #33995f;
    font-family: Bebas Neue;
}


.faq-title{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 45%;
   font-size: 20px;
  padding: 50px 20px;
}

.faq-paragraph{
  padding: 20px;
}




.faq-title:hover{
  background-color: #2d8653;
}

.email-help{
  display: block;
   margin-left: auto;
   margin-right: auto;
  padding: 100px 20px;
  width: 50%;
  font-family: Bebas Neue;
}

.email-title{
  text-align: center;
}


.updated{
	text-align: center;
	color: white;
	padding: 20px;
	margin-top: 20rem;
	font-family: Bebas Neue;
}


.updated h1{
	font-size: 50px;
}
