body{
   background-color: #33995f;
}


.storage{
  padding: 40px;
}


.adde{
  padding: 20px;
}


#input-time, #input-type, #input-calories{
  padding: 20px;
}

h1{
 text-align: center;
 color: white;
 font-family: "Bebas Neue";
 font-size: 86px;
 text-shadow: 4px 4px black;
  padding: 10px 10px;
 background-color: #33995f;
}


.note-table{
text-align: center;
}

.test{
  padding: 20px
}

.input-notes{
  text-align: center;
  padding: 20px 20px;
  display: block;
   margin-left: auto;
   margin-right: auto;
}

.title-note, .description-note, .calories-note{
  padding: 120px;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 25px;
}

.table{
	color: white;
	border: 1px solid white;
	background-color: #33995f;

}


.submit-button{
  background-color: #33995f;
  font-size: 20px;
  font-family: "Bebas Neue";
  padding: 3px 10px;
}


.submit-button:hover{
  background-color: #22824c;
}

.delete-item{
  font-size: 50px;
  cursor: pointer;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
    font-size: 1.2em;
    outline: none;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  color: #fff;
  border: none;
  border-radius: 50%;

}


@media only screen and (max-width: 767px){
  form{
    width: 400px;
  }
  #input-time, #input-type, #input-calories{
    font-size: 15px;
  }
}

@media only screen and (max-width: 465px){
  form{
    width: 290px;
  }
  #input-time, #input-type, #input-calories{
    font-size: 15px;
  }
}


@media only screen and (max-width: 1045px){
  .title-note, .description-note, .calories-note{
    padding: 10px;

    font-size: 15px;
  }
}
